<%= image_tag("banner.png", :size=>'760x100', :alt=>'Panther Logo')%>
<br></br> 
 
<%= form_for(:devices, :url => {:action => 'update_dates', :id => @devices.id}) do |f| %>

        <%= render(:partial => "form", :locals => {:f => f}) %>
<br></br>

        <div class="form-buttons">
          <%= submit_tag("Update Device Dates") %>
        </div>

      <% end %>


