
    <%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

    <div class="devices new">
      <h2>Add Device</h2>

      <%= form_for(:devices, :url => {:action => 'create'}) do |f| %>

      <%= render(:partial => "form", :locals => {:f => f}) %>

        <div class="form-buttons">
          <%= submit_tag("Create Device") %>
        </div>

      <% end %>
    </div> 
