


    <% @page_title = "Welcome" %>

    <div class="menu">
      <h2>Welcome to the Chapman Mobile Device Inventory System</h2>
      <ul>
        <li><%= link_to("Devices", :controller => 'devices') %></li>
        <li><%= link_to("People", :controller => 'person') %></li>
        <li><%= link_to("Manage Devices", :controller => 'checkout') %></li>
      </ul>
    </div> 
